.custom-button {
  --background: #ff0000;
  --border-radius: 15px;
  --ion-border-color: transparent;
  --highlight-background: transparent;
  --highlight-color-focused: transparent;
  border: 3px solid #bb1313;
  border-radius: 15px;
  background-color: #ff3737;
  box-shadow: none;
  margin: 0 0 18px 0;
  padding: 0;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  align-self: center;
}
